.fondo{
    background-color: black;
}
.miTexto{
    font-size: 20px;
    color: white;
}
hr{
    background-color: red;
    border: none;
    height: 4px;
    margin: 2px;
    border-radius: 70%;
    width: 70%;
}