.fondo{
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura completa */
    margin: 0;
}
.miTexto{
    font-size: 20px;
    color: white;
}
hr{
    background-color:rgb(150, 20, 10);
    border: none;
    height: 4px;
    margin: 2px;
    border-radius: 70%;
    width: 70%;
}
h2{
    color: white;
}
.titulocontainer{
    border: solid blue;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 1500ms;
}
h1{
    font-size: 5em;
    width: 80vh; /*ancho del contenedor MAFIAIII*/
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;/*centrar horizontal*/
    align-items: center;/*centrar verticalmente*/
    height: 20vh; /*ocupa toda la altura de la ventana*/
    text-align: center;
    border: solid red;
    padding: 0;
}
.titulocontainer:hover{
    transform: scale(1.5) ;
}
img{
    border: none;
    border-radius: 20px;
}
.cardcontainer{
    width: 85vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;                 /* Habilita flexbox */
    flex-direction: row;          /*fila*/
    align-items: center;          /* Centra verticalmente los hijos */
    justify-content: center;      /* Centra horizontalmente los hijos */
     border: none;        /* Borde visible */
    padding: 20px;
    gap: 100px;                    /* Espacio entre hijos */
    flex-wrap: wrap;              /* Permite que los hijos salten de línea */
}
.aliados{
    padding: 2px;
    margin: 10px 10px 10px 10px;
    box-shadow:0 0 10px red;
    width: 150px;
    height: 150px;
    transition: all 800ms ease;
}
.aliados:hover{
    box-shadow:0 0 10px blue;
    transform:scale(1.4);
}
.TextoDiv{
    color: white;
    size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2aliados{
    width: 85vh;
    color: blue;
    font-size: 2em;
    margin-top: 30px;
    width: auto;
    text-align: center;
    transition: all 1000ms ease;
}
.h2aliados:hover{
    color: rgb(50, 50, 100);
    transform: scale(1.1);
}
.h2enemigos{
    width: auto;
    margin: auto;
    color: red;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    transition: all 1000ms ease;
}
.h2enemigos:hover{
    color: rgb(150, 20, 10);
    transform: scale(1.1);
}